Repository MPAS-Dev/MPAS-Tools, pull requests merged in 2019-10, with the labels that each got.

#268 Add bare-bones docs with Read The Docs
  conda_package/docs/environment.yml
  readthedocs.yml
Labels: enhancement

#269 Fix conda package setup.py when called with a path
  conda_package/setup.py
Labels: bug, conda package

#270 In conda package, copy directories within setup.py
  conda_package/setup.py
Labels: conda package

#271 Upgrade create_SCRIP_file_from_MPAS_mesh.py to python3
  mesh_tools/create_SCRIP_files/create_SCRIP_file_from_MPAS_mesh.py
Labels: ocean, python 3
