Repository MPAS-Dev/MPAS-Tools, pull requests merged in 2020-07, with the labels that each got.

#322 Update compass with new geometric_features
  compass/meta.yaml
Labels: compass

#328 exo to nc conversion: fix beta extrapolation
  landice/mesh_tools_li/conversion_exodus_init_to_mpasli_mesh.py
Labels: bug, clean up, landice

#329 Sea ice partitioning methods for improved load balancing
  mesh_tools/seaice_grid_tools/Makefile
  mesh_tools/seaice_grid_tools/README
  mesh_tools/seaice_grid_tools/create_seaice_partitions.py
  mesh_tools/seaice_grid_tools/extend_seaice_mask.py
  mesh_tools/seaice_grid_tools/fix_regrid_output.F90
  mesh_tools/seaice_grid_tools/gen_seaice_mesh_partition.py
  mesh_tools/seaice_grid_tools/gen_seaice_regions_latitude_bands.py
  mesh_tools/seaice_grid_tools/make_regions_file.py
  mesh_tools/seaice_grid_tools/prepare_seaice_partitions.py
  mesh_tools/seaice_grid_tools/regrid_to_other_mesh.py
  mesh_tools/seaice_grid_tools/seaice_mesh.py
  mesh_tools/seaice_grid_tools/seaice_regrid.py
Labels: sea ice

#326 Fix paraview extractor and macros to be compatible with Paraview 5.8.0
  conda_package/mpas_tools/viz/paraview_extractor.py
  visualization/paraview_vtk_field_extractor/annotate_date.py
Labels: bug, conda package, viz

#319 Add function for converting MPAS meshes to viz triangles
  conda_package/mpas_tools/viz/__init__.py
  conda_package/mpas_tools/viz/mesh_to_triangles.py
Labels: viz

#330 Add missing image to docs
  conda_package/docs/_static/so60to10.png
Labels: conda package, documentation

#332 Try again to fix image in docs
  conda_package/docs/images/so60to10.png
  conda_package/docs/index.rst
Labels: conda package, documentation

#333 Update hdf5 version to match conda-forge
  conda_package/recipe/meta.yaml
  conda_package/travis_ci/linux_python3.6.yaml
  conda_package/travis_ci/linux_python3.7.yaml
  conda_package/travis_ci/linux_python3.8.yaml
Labels: conda package

#334 Remove support for Read The Docs
  conda_package/docs/environment.yml
  readthedocs.yml
Labels: clean up, conda package, documentation
