Repository MPAS-Dev/MPAS-Tools, pull requests merged in 2020-03, with the labels that each got.

#285 Add compass metapackage
  compass/LICENSE
  compass/build_and_upload.bash
  compass/create_new_env.bash
  compass/meta.yaml
Labels: conda package

#292 Make MOC basin masks and southern transects
  conda_package/mpas_tools/ocean/moc.py
  ocean/moc_southern_boundary_extractor/moc_southern_boundary_extractor.py
  ocean/moc_southern_boundary_extractor/mpas_tools
Labels: conda package

#293 Update to version 0.0.8
  conda_package/mpas_tools/__init__.py
  conda_package/recipe/meta.yaml
Labels: conda package

#295 Update version of geometric_features to include offline data
  compass/meta.yaml
Labels: conda package

#296 Fix reading of sphere_radius, x_period and mesh_spec
  compass/meta.yaml
  conda_package/mpas_tools/__init__.py
  conda_package/recipe/meta.yaml
  mesh_tools/mesh_conversion_tools/netcdf_utils.cpp
Labels: bug

#297 Fix extension and update compass version
  compass/build_and_upload.bash
  compass/create_new_compass_env.bash
Labels: clean up, conda package

#298 Add NCO, ESMF, pyremap and mpich to compass env.
  compass/meta.yaml
Labels: compass

#299 Update compass creation script
  compass/create_new_compass_env.bash
Labels: compass

#301 Add Travis CI to test conda package and build docs
  .travis.yml
  README.md
  conda_package/docs/conf.py
  conda_package/travis_ci/install.bash
  conda_package/travis_ci/linux_python3.6.yaml
  conda_package/travis_ci/linux_python3.7.yaml
  conda_package/travis_ci/linux_python3.8.yaml
  conda_package/travis_ci/test_and_publish_docs.bash
Labels: conda package, documentation

#284 Add 3D capability to landice mesh tool conversion_exodus_init_to_mpasli_mesh.py
  landice/mesh_tools_li/conversion_exodus_init_to_mpasli_mesh.py
Labels: enhancement, landice

#300 Make separate mpich, openmpi and "nompi" compass builds
  compass/build_and_upload.bash
  compass/conda_build_config.yaml
  compass/create_new_compass_env.bash
  compass/meta.yaml
Labels: compass
