Repository MPAS-Dev/MPAS-Tools, pull requests merged in 2020-02, with the labels that each got.

#286 Fix version number in the docs
  conda_package/docs/conf.py
Labels: bug, conda package

#287 Remove remaining mentions of evtk
  conda_package/mpas_tools/viz.py
  visualization/paraview_vtk_field_extractor/paraview_vtk_field_extractor.py
Labels: clean up

#219 modify bedTopography when we convert thickness
  landice/mesh_tools_li/conversion_exodus_init_to_mpasli_mesh.py
Labels: landice

#288 Remove jigsaw to netcdf tools
  mesh_tools/triangle_jigsaw_to_netcdf/.gitignore
  mesh_tools/triangle_jigsaw_to_netcdf/README.md
  mesh_tools/triangle_jigsaw_to_netcdf/build_mesh.sh
  mesh_tools/triangle_jigsaw_to_netcdf/examples/antarctic_coupled.m
  mesh_tools/triangle_jigsaw_to_netcdf/examples/antarctic_coupled_vis.m
  mesh_tools/triangle_jigsaw_to_netcdf/examples/coast_regional.m
  mesh_tools/triangle_jigsaw_to_netcdf/examples/jigsaw_path_locations.m
  mesh_tools/triangle_jigsaw_to_netcdf/examples/mpas_ec_60to30.m
  mesh_tools/triangle_jigsaw_to_netcdf/examples/mpas_uniform.m
  mesh_tools/triangle_jigsaw_to_netcdf/examples/refined_disk.m
  mesh_tools/triangle_jigsaw_to_netcdf/examples/soma_32to4km.m
  mesh_tools/triangle_jigsaw_to_netcdf/examples/soma_32to8km.m
  mesh_tools/triangle_jigsaw_to_netcdf/inject_bathymetry.py
  mesh_tools/triangle_jigsaw_to_netcdf/mpas_to_triangle.py
  mesh_tools/triangle_jigsaw_to_netcdf/open_msh.py
  mesh_tools/triangle_jigsaw_to_netcdf/triangle_jigsaw_to_netcdf.py
Labels: clean up, ocean

#290 Add logger to conversion module of conda package
  conda_package/mpas_tools/conversion.py
Labels: conda package
