Repository MPAS-Dev/MPAS-Tools, pull requests merged in 2020-10, with the labels that each got.

#349 A lot of new additions to the documentation
  conda_package/docs/api.rst
  conda_package/docs/cime.rst
  conda_package/docs/images/clipped.png
  conda_package/docs/images/ec60to30_tris_flat.png
  conda_package/docs/images/ec60to30_tris_gouraud.png
  conda_package/docs/images/qu240_topo.png
  conda_package/docs/images/qu240_topo_lonlat.png
  conda_package/docs/images/ragged.png
  conda_package/docs/images/so60to12_res.png
  conda_package/docs/images/so_cropped.png
  conda_package/docs/index.rst
  conda_package/docs/interpolation.rst
  conda_package/docs/mesh_conversion.rst
  conda_package/docs/mesh_creation.rst
  conda_package/docs/ocean/coastal_tools.rst
  conda_package/docs/ocean/coastline_alteration.rst
  conda_package/docs/ocean/mesh_creation.rst
  conda_package/docs/ocean/moc.rst
  conda_package/docs/visualization.rst
  conda_package/mpas_tools/mesh/creation/mesh_definition_tools.py
  conda_package/mpas_tools/ocean/coastal_tools.py
  conda_package/mpas_tools/ocean/coastline_alteration.py
  conda_package/mpas_tools/ocean/inject_meshDensity.py
  conda_package/mpas_tools/ocean/moc.py
  conda_package/mpas_tools/planar_hex.py
  conda_package/mpas_tools/translate.py
  conda_package/mpas_tools/viz/paraview_extractor.py
Labels: conda package, documentation

#357 Add scripts from add_depth_coord to conda package
  conda_package/recipe/meta.yaml
  conda_package/setup.py
Labels: conda package, ocean

#358 Fix masking for signed distance functions
  conda_package/mpas_tools/mesh/creation/signed_distance.py
Labels: bug, conda package

#363 Add pyproj as a dependency
  conda_package/recipe/meta.yaml
Labels: bug, conda package

#364 Add captions to docs table of contents
  conda_package/docs/index.rst
Labels: bug, conda package, documentation

#362 Move functions for adding depth coordinates to MPAS-Ocean into the conda pacakge
  conda_package/docs/api.rst
  conda_package/docs/index.rst
  conda_package/docs/ocean/depth.rst
  conda_package/mpas_tools/ocean/depth.py
  conda_package/recipe/meta.yaml
  conda_package/setup.py
  ocean/add_depth_coord/add_depth.py
  ocean/add_depth_coord/add_zMid.py
  ocean/add_depth_coord/write_time_varying_zMid.py
Labels: conda package, ocean

#356 Updates to MALI mesh interpolation script
  landice/mesh_tools_li/interpolate_to_mpasli_grid.py
Labels: enhancement, landice

#366 Remove some redundant captions
  conda_package/docs/index.rst
Labels: bug, conda package, documentation

#367 Rename string dimension StrLen in write_netcdf
  conda_package/mpas_tools/io.py
  conda_package/mpas_tools/ocean/moc.py
Labels: bug, conda package

#369 Add more CIME constants
  conda_package/mpas_tools/cime/constants.py
  conda_package/mpas_tools/tests/test_cime_constants.py
Labels: conda package
