Repository MPAS-Dev/MPAS-Tools, pull requests merged in 2021-01, with the labels that each got.

#385 Add support for logging (e.g. to log files)
  conda_package/mpas_tools/logging.py
  conda_package/mpas_tools/mesh/creation/build_mesh.py
  conda_package/mpas_tools/mesh/creation/jigsaw_driver.py
  conda_package/mpas_tools/ocean/build_mesh.py
  conda_package/mpas_tools/viz/paraview_extractor.py
Labels: conda package, enhancement

#386 Add check for required time dimension if a range of times is included
  landice/mesh_tools_li/interpolate_to_mpasli_grid.py
Labels: bug, clean up, landice

#390 Fixes crash while running ocean_add_depth
  conda_package/mpas_tools/ocean/depth.py
Labels: bug, conda package, ocean

#392 Update to 0.2.1
  conda_package/docs/versions.rst
  conda_package/mpas_tools/__init__.py
  conda_package/recipe/meta.yaml
Labels: conda package

#393 Update dependencies in the recipe
  conda_package/recipe/meta.yaml
Labels: conda package

#388 Update landice Exodus conversion script user interface
  landice/mesh_tools_li/conversion_exodus_init_to_mpasli_mesh.py
Labels: landice
