Repository MPAS-Dev/MPAS-Tools, pull requests merged in 2021-07, with the labels that each got.

#428 Update URL for testing CIME constants
  conda_package/mpas_tools/tests/test_cime_constants.py
Labels: conda package

#429 Update `libnetcdf` version in CI
  conda_package/ci/linux_python3.6.yaml
  conda_package/ci/linux_python3.7.yaml
  conda_package/ci/linux_python3.8.yaml
  conda_package/ci/linux_python3.9.yaml
  conda_package/ci/osx_python3.6.yaml
  conda_package/ci/osx_python3.7.yaml
  conda_package/ci/osx_python3.8.yaml
  conda_package/ci/osx_python3.9.yaml
Labels: conda package

#430 Fix re-registering of colormaps
  conda_package/mpas_tools/viz/colormaps.py
Labels: bug, conda package, viz

#431 Fix uninitialized values in kiteAreasOnVertex
  mesh_tools/mesh_conversion_tools/mpas_mesh_converter.cpp
Labels: bug, priority

#432 Update conda package to v0.8.0
  conda_package/docs/versions.rst
  conda_package/mpas_tools/__init__.py
  conda_package/recipe/meta.yaml
Labels: conda package

#433 Update performance script to python 3, and minor corrections
  ocean/performance_testing/performance_test.py
Labels: ocean

#435 Drop python 3.6 support
  azure-pipelines.yml
  conda_package/ci/linux_python3.6.yaml
  conda_package/ci/osx_python3.6.yaml
  conda_package/dev-spec.txt
  conda_package/recipe/conda_build_config.yaml
  conda_package/setup.py
Labels: conda package

#434 Add argument to `write_netcdf` for the NetCDF engine
  conda_package/mpas_tools/io.py
  conda_package/mpas_tools/mesh/mask.py
  conda_package/mpas_tools/planar_hex.py
Labels: conda package
