Repository MPAS-Dev/MPAS-Tools, pull requests merged in 2021-04, with the labels that each got.

#402 Added scripts to equatorial cull and mesh rescale
  mesh_tools/seaice_grid_tools/Makefile
  mesh_tools/seaice_grid_tools/cull_equatorial_region.py
  mesh_tools/seaice_grid_tools/make_regions_file.py
  mesh_tools/seaice_grid_tools/prepare_seaice_partitions.py
  mesh_tools/seaice_grid_tools/rescale_mesh.py
Labels: sea ice

#403 Fix periodicity in python transect masks
  conda_package/mpas_tools/mesh/mask.py
Labels: bug, conda package

#401 Update MOC southern boundary to not require region groups
  conda_package/mpas_tools/ocean/moc.py
Labels: clean up, conda package, ocean

#404 Add edge sign to python transect masks
  conda_package/docs/mesh_conversion.rst
  conda_package/mpas_tools/mesh/mask.py
  conda_package/recipe/meta.yaml
  conda_package/setup.py
Labels: conda package, enhancement

#405 Update conda package to v0.4.0
  conda_package/docs/versions.rst
  conda_package/mpas_tools/__init__.py
  conda_package/recipe/meta.yaml
Labels: conda package

#406 Add python mask creation for projection grids
  conda_package/mpas_tools/mesh/mask.py
  conda_package/recipe/meta.yaml
  conda_package/setup.py
Labels: conda package

#407 Add region group info to MOC output
  conda_package/mpas_tools/ocean/moc.py
Labels: clean up, conda package, ocean

#408 Update to v0.5.0
  conda_package/docs/versions.rst
  conda_package/mpas_tools/__init__.py
  conda_package/recipe/meta.yaml
Labels: conda package

#409 Make make sure all strings in MOC files have 64 char
  conda_package/mpas_tools/__init__.py
  conda_package/mpas_tools/ocean/moc.py
  conda_package/recipe/meta.yaml
Labels: bug, conda package

#410 In grid_rotate/Makefile, set the Fortran compiler using 'nc-config --fc'
  mesh_tools/grid_rotate/Makefile
  mesh_tools/grid_rotate/README
Labels: clean up

#411 Replace non-standard calls to getarg and system in grid_rotate
  mesh_tools/grid_rotate/grid_rotate.f90
Labels: clean up

#412 Update culling script to python3
  mesh_tools/periodic_hex/mark_periodic_boundaries_for_culling.py
Labels: clean up

#414 Fix invalid vertices in vertex transect masks
  conda_package/ci/linux_python3.8.yaml
  conda_package/ci/linux_python3.9.yaml
  conda_package/mpas_tools/mesh/mask.py
  conda_package/recipe/meta.yaml
Labels: bug, conda package
