Repository MPAS-Dev/MPAS-Tools, pull requests merged in 2023-01, with the labels that each got.

#486 Add support for shapely 2.0 and many tests
  conda_package/dev-spec.txt
  conda_package/mpas_tools/mesh/creation/signed_distance.py
  conda_package/mpas_tools/mesh/mask.py
  conda_package/mpas_tools/ocean/transects.py
  conda_package/mpas_tools/tests/test_mesh_mask.py
  conda_package/mpas_tools/tests/test_signed_distance.py
  conda_package/mpas_tools/tests/test_transects.py
  conda_package/mpas_tools/tests/test_viz_transects.py
  conda_package/mpas_tools/transects.py
  conda_package/mpas_tools/viz/transects.py
  conda_package/recipe/meta.yaml
  conda_package/setup.py
Labels: enhancement, clean up, conda package

#484 Reorganize sea-ice grid tools into python package
  mesh_tools/seaice_grid_tools/create_seaice_partitions.py
  mesh_tools/seaice_grid_tools/extend_seaice_mask.py
  mesh_tools/seaice_grid_tools/gen_seaice_mesh_partition.py
  mesh_tools/seaice_grid_tools/gen_seaice_regions_latitude_bands.py
  mesh_tools/seaice_grid_tools/make_regions_file.py
  mesh_tools/seaice_grid_tools/prepare_seaice_partitions.py
  mesh_tools/seaice_grid_tools/regrid_to_other_mesh.py
  mesh_tools/seaice_grid_tools/seaice/__init__.py
  mesh_tools/seaice_grid_tools/seaice/mask.py
  mesh_tools/seaice_grid_tools/seaice/mesh.py
  mesh_tools/seaice_grid_tools/seaice/partition.py
  mesh_tools/seaice_grid_tools/seaice/regions.py
  mesh_tools/seaice_grid_tools/seaice/regrid.py
  mesh_tools/seaice_grid_tools/seaice_mesh.py
  mesh_tools/seaice_grid_tools/seaice_regrid.py
Labels: clean up, sea ice

#482 Add sea-ice partition tools to conda package
  conda_package/ci/linux_python3.10.yaml
  conda_package/ci/linux_python3.11.yaml
  conda_package/ci/linux_python3.9.yaml
  conda_package/ci/osx_python3.10.yaml
  conda_package/ci/osx_python3.11.yaml
  conda_package/ci/osx_python3.9.yaml
  conda_package/mpas_tools/seaice/__init__.py
  conda_package/mpas_tools/seaice/mask.py
  conda_package/mpas_tools/seaice/mesh.py
  conda_package/mpas_tools/seaice/partition.py
  conda_package/mpas_tools/seaice/regions.py
  conda_package/mpas_tools/seaice/regrid.py
  conda_package/recipe/build.sh
  conda_package/recipe/conda_build_config.yaml
  conda_package/recipe/meta.yaml
  conda_package/setup.py
  mesh_tools/seaice_grid_tools/CMakeLists.txt
  mesh_tools/seaice_grid_tools/cmake/FindNetCDF.cmake
  mesh_tools/seaice_grid_tools/cmake/LICENSE
  mesh_tools/seaice_grid_tools/cmake/README
  mesh_tools/seaice_grid_tools/create_seaice_partitions.py
  mesh_tools/seaice_grid_tools/extend_seaice_mask.py
  mesh_tools/seaice_grid_tools/gen_seaice_mesh_partition.py
  mesh_tools/seaice_grid_tools/make_regions_file.py
  mesh_tools/seaice_grid_tools/mpas_tools
  mesh_tools/seaice_grid_tools/prepare_seaice_partitions.py
  mesh_tools/seaice_grid_tools/regrid_to_other_mesh.py
  mesh_tools/seaice_grid_tools/seaice_mesh.py
Labels: enhancement, conda package, sea ice

#485 Add docs and PEP8 clean-up to `seaice` modules
  conda_package/docs/api.rst
  conda_package/docs/index.rst
  conda_package/docs/seaice/mask.rst
  conda_package/docs/seaice/mesh.rst
  conda_package/docs/seaice/partition.rst
  conda_package/docs/seaice/regions.rst
  conda_package/docs/seaice/regrid.rst
  conda_package/mpas_tools/seaice/mask.py
  conda_package/mpas_tools/seaice/mesh.py
  conda_package/mpas_tools/seaice/partition.py
  conda_package/mpas_tools/seaice/regions.py
  conda_package/mpas_tools/seaice/regrid.py
Labels: clean up, sea ice

#489 Fix importlib.resources imports for python 3.8
  conda_package/dev-spec.txt
  conda_package/mpas_tools/config.py
  conda_package/recipe/meta.yaml
Labels: bug

#481 Add a general script for plotting 2D output
  landice/output_processing_li/plot_maps.py
Labels: enhancement, landice
