Repository MPAS-Dev/MPAS-Tools, pull requests merged in 2024-05, with the labels that each got.

#563 ISMIP6 2500 Projections Forcing
  landice/mesh_tools_li/ISMIP6-2500_Forcing.py
Labels: landice

#567 Fix `planarIntersect` formula in MPAS mesh converter
  mesh_tools/mesh_conversion_tools/pnt.h
  mesh_tools/mesh_conversion_tools_netcdf_c/pnt.h
Labels: bug

#570 Fix data directory in simple_seaice_partitions tool
  conda_package/mpas_tools/seaice/partition.py
Labels: bug, conda package, sea ice
