Repository MPAS-Dev/MPAS-Tools, pull requests merged in 2024-01, with the labels that each got.

#546 Fix docs for coastline alteration
  conda_package/docs/ocean/coastline_alteration.rst
Labels: clean up, documentation

#545 Update AIS mesh modification scripts
  landice/mesh_tools_li/adjust_iceshelf_geometry.py
  landice/mesh_tools_li/bulldoze_missing_troughs.py
  landice/mesh_tools_li/interpolate_to_mpasli_grid.py
  landice/mesh_tools_li/tune_ismip6_melt_deltat.py
Labels: landice

#547 Limit lon to -180 to 180 in lon-lat region masks
  conda_package/mpas_tools/mesh/mask.py
Labels: bug, conda package

#544 Fix bugs in ESMF interpolation method
  landice/mesh_tools_li/define_cullMask.py
  landice/mesh_tools_li/interpolate_to_mpasli_grid.py
  mesh_tools/create_SCRIP_files/create_SCRIP_file_from_planar_rectangular_grid.py
Labels: bug, enhancement, clean up, landice

#550 setup: always copy subdirs ocean, landice,...
  conda_package/setup.py
Labels: bug, conda package
