Repository MPAS-Dev/MPAS-Tools, pull requests merged in 2024-09, with the labels that each got.

#576 Extrapolate landice variable
  landice/mesh_tools_li/extrapolate_variable.py
Labels: landice

#582 Add additional `pip install` flags in docs and conda recipe
  conda_package/docs/testing_changes.rst
  conda_package/recipe/build.sh
Labels: conda package, documentation

#583 Add `meshDensity` in mesh conversion if not already present
  mesh_tools/mesh_conversion_tools_netcdf_c/mpas_mesh_converter.cpp
Labels: bug
