Repository MPAS-Dev/MPAS-Tools, pull requests merged in 2025-04, with the labels that each got.

#596 Move `landice` conda package scripts
  conda_package/mpas_tools/landice/boundary.py
  conda_package/mpas_tools/landice/create.py
  conda_package/mpas_tools/landice/cull.py
  conda_package/mpas_tools/landice/interpolate.py
  conda_package/mpas_tools/landice/projections.py
  conda_package/mpas_tools/mesh/mark_horns_for_culling.py
  conda_package/mpas_tools/mesh/set_lat_lon.py
  conda_package/mpas_tools/scrip/from_mpas.py
  conda_package/mpas_tools/scrip/from_planar.py
  conda_package/recipe/meta.yaml
  conda_package/setup.py
  landice/mesh_tools_li/create_landice_grid_from_generic_MPAS_grid.py
  landice/mesh_tools_li/define_cullMask.py
  landice/mesh_tools_li/interpolate_to_mpasli_grid.py
  landice/mesh_tools_li/mark_domain_boundaries_dirichlet.py
  mesh_tools/create_SCRIP_files/create_SCRIP_file_from_MPAS_mesh.py
  mesh_tools/create_SCRIP_files/create_SCRIP_file_from_planar_rectangular_grid.py
  mesh_tools/create_SCRIP_files/mpas_tools
  mesh_tools/mesh_conversion_tools/mark_horns_for_culling.py
  mesh_tools/planar_grid_transformations/set_lat_lon_fields_in_planar_grid.py
Labels: clean up, landice, conda package

#612 Add `pre-commit` for code linting
  .github/workflows/build_workflow.yml
  .github/workflows/pre_commit_update_workflow.yml
  .pre-commit-config.yaml
  conda_package/dev-spec.txt
  conda_package/docs/making_changes.rst
  conda_package/pyproject.toml
Labels: enhancement, conda package, documentation, ci

#611 Require jigsaw and jigsawpy to be installed from source
  conda_package/dev-spec.txt
  conda_package/docs/api.rst
  conda_package/docs/mesh_creation.rst
  conda_package/mpas_tools/logging.py
  conda_package/mpas_tools/mesh/creation/jigsaw_driver.py
  conda_package/pyproject.toml
  conda_package/recipe/meta.yaml
Labels: clean up, conda package

#614 Add class and command-line tool for converting from MPAS to XDMF + HDF5
  conda_package/dev-spec.txt
  conda_package/docs/mpas_to_xdmf.rst
  conda_package/docs/paraview_extractor.rst
  conda_package/docs/visualization.rst
  conda_package/mpas_tools/viz/mpas_to_xdmf/__init__.py
  conda_package/mpas_tools/viz/mpas_to_xdmf/geometry.py
  conda_package/mpas_tools/viz/mpas_to_xdmf/io.py
  conda_package/mpas_tools/viz/mpas_to_xdmf/mesh.py
  conda_package/mpas_tools/viz/mpas_to_xdmf/mpas_to_xdmf.py
  conda_package/mpas_tools/viz/mpas_to_xdmf/templates/__init__.py
  conda_package/mpas_tools/viz/mpas_to_xdmf/templates/xdmf_template.xml
  conda_package/mpas_tools/viz/mpas_to_xdmf/time.py
  conda_package/pyproject.toml
  conda_package/recipe/meta.yaml
Labels: enhancement, viz, conda package

#613 Several updates to ocean transects
  conda_package/docs/api.rst
  conda_package/docs/ocean/visualization.rst
  conda_package/docs/visualization.rst
  conda_package/mpas_tools/ocean/transects.py
  conda_package/mpas_tools/ocean/viz/__init__.py
  conda_package/mpas_tools/ocean/viz/transect/__init__.py
  conda_package/mpas_tools/ocean/viz/transect/plot.py
  conda_package/mpas_tools/ocean/viz/transect/vert.py
  conda_package/mpas_tools/ocean/viz/transects.py
  conda_package/mpas_tools/tests/test_viz_transects.py
  conda_package/mpas_tools/viz/transect/__init__.py
  conda_package/mpas_tools/viz/transect/horiz.py
  conda_package/mpas_tools/viz/transects.py
  conda_package/pyproject.toml
Labels: ocean, viz, conda package

#617 Switch to a custom version dropdown
  .github/workflows/docs_workflow.yml
  conda_package/dev-spec.txt
  conda_package/docs/Makefile
  conda_package/docs/_static/style.css
  conda_package/docs/_templates/layout.html
  conda_package/docs/_templates/versions.html
  conda_package/docs/building_docs.rst
  conda_package/docs/conf.py
  conda_package/docs/generate_versions_json.py
  conda_package/docs/index.rst
  conda_package/docs/making_changes.rst
  conda_package/docs/mpas_to_xdmf.rst
  conda_package/docs/paraview_extractor.rst
  conda_package/docs/shared/version-switcher.js
  conda_package/docs/testing_changes.rst
  conda_package/mpas_tools/ocean/viz/transect/__init__.py
  conda_package/mpas_tools/ocean/viz/transect/vert.py
  conda_package/pyproject.toml
Labels: bug, enhancement, conda package, documentation

#618 Sort versions in dropdown more carefully
  conda_package/docs/generate_versions_json.py
Labels: bug, documentation, ci

#620 Switch CI from miniconda to micromamba
  .github/workflows/build_workflow.yml
  .github/workflows/docs_workflow.yml
Labels: ci

#621 Fix the barotropic streamfunction calculation
  conda_package/dev-spec.txt
  conda_package/mpas_tools/ocean/barotropic_streamfunction.py
  conda_package/recipe/meta.yaml
Labels: bug, ocean, conda package

#622 Update to v1.1.0
  conda_package/mpas_tools/__init__.py
  conda_package/pyproject.toml
  conda_package/recipe/meta.yaml
Labels: conda package

#625 Update code for version switcher to match pyremap
  conda_package/docs/shared/version-switcher.js
Labels: bug, conda package, documentation
